<mat-card class="recipe-card" [routerLink]="['/recipe', recipe.idMeal]">
  <img mat-card-image [src]="recipe.strMealThumb" [alt]="recipe.strMeal" />
  <mat-card-content>
    <h4 class="recipe-title">{{ recipe.strMeal }}</h4>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="warn" (click)="toggleFavorite($event)" aria-label="Ajouter aux favoris">
      <mat-icon>{{ isFavorite() ? 'favorite' : 'favorite_border' }}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
